* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Cores principais do projeto */
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  /* Cores da base do projeto */
  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  /* Fontes Asap*/
  --font-family-asap: "Asap", sans-serif;
  --text-lg-asap: bold 56px/120% var(--font-family-asap);
  --tittle-sm-asap: bold 24px/120% var(--font-family-asap);
  --font-md-asap: bold 16px/120% var(--font-family-asap);

  /* Fontes Inconsolata*/
  --font-family-inco: "Inconsolata", monospace;
  --text-subtitle: 20px/120% var(--font-family-inco);

  /* Fontes maven pro*/
  --font-family-maven: "Maven Pro", sans-serif;
  --text-md: 16px/140% var(--font-family-maven);
  --text-sm: 14px/140% var(--font-family-maven);
}

body {
  background-color: var(--gray-500);
  color: var(--gray-200);

  & a {
    color: var(--gray-200);
  }
}
