*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  /* Cores principais do projeto */
--red: #E3646E;
--purple: #BB72E9;
--blue: #3996DB;
--green:#82BC4F;
--yellow: #EABD5F;


/* Cores da base do projeto */
--gray-100:#E2E4E9;
--gray-200:#C0C4CE;
--gray-300:#878EA1;
--gray-400:#292C34;
--gray-500:#16181D;
--gray-600:#0D0E11;


/* Fontes Asap*/
--font-family-asap:  "Asap", sans-serif;
--text-lg-asap: bold 56px/120% var(--font-family-asap);
--tittle-sm-asap: bold 24px/120% var(--font-family-asap);


/* Fontes Inconsolata*/
--font-family-inco: "Inconsolata", monospace;
--text-subt-inco: 20px/120% var(--font-family-inco);


/* Fontes maven pro*/
--font-family-maven:  "Maven Pro", sans-serif;
--text-md: 16px/140% var(--font-family-maven);
--text-sm: 14px/140% var(--font-family-maven);

}

body{
/* background-color: var(--gray-500); */
color: var(--gray-200);
}

.conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
}


h1{
  font: var(--text-lg-asap);
  color: var(--gray-100);
}
p{
  font: var(--text-sm);
  color: var(--gray-300);
}

.color-red{
  color: var(--red);
}