header {
  background: url(../assets/background/Background_Intro.png) center/cover
    no-repeat;

  & .avatar {
    margin-block: 7rem 3.5rem;
    position: relative;
    & .user-image {
      border: 2px solid var(--red);
      border-radius: 50%;
      padding: 3px;
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    & img:nth-child(2) {
      position: absolute;
      bottom: 0;
      right: 1rem;
    }
  }

  & .content {
    text-align: center;
  }

  & .skills {
    margin-block: 5rem 5.5rem;
    & .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--gray-400);
      padding: 8px 16px 8px;
      border-radius: 999px;
      gap: 8px;
    }
  }

  &:hover {
    & .arrow-down {
      animation: arrow-down 5s ease-in-out infinite;
    }
  }
}

@keyframes arrow-down {
  0% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
