#projects {
  padding-inline: 20rem;
  padding-block: 10rem;
}
.card {
  background-color: var(--gray-400);
  border-radius: 12px;
  padding: 1rem;
  &:hover {
    border: 1px solid var(--gray-300);
    scale: 110%;
  }
  & img {
    width: 100%;
    border-radius: .5rem;
  }
  & .text-card {
   & h2 {
    padding-block: .5rem;  
    font: bold 16px/120% var(--font-family-asap);
    }
  }
  & p {
    font: var(--text-md);
  }
}
