.conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid{
  display: grid;
}
.grid-flex-col{
  grid-auto-flow: column;
}

.grid-flex-row{
  grid-auto-flow: row;
}
.grid-col-3{
  grid-template-columns: repeat(3,1fr);
}
.gap-16{
  gap: 16px;
}
.gap-24{
  gap: 24px;
}
.text-md{
  font: var(--text-md);
}


h1{
  font: var(--text-lg-asap);
  color: var(--gray-100);
}

h2{
  font: var(--text-subt-inco);
}
p{
  font: var(--text-sm);
  color: var(--gray-300);
}

.color-red{
  color: var(--red);
}

.title-header{
  margin-bottom: 56px;
  h2{
    color: var(--red);
    font: var(--text-subt-inco);
    margin-bottom: 8px;
  }
  h3{
    color: var(--gray-100);
    font: var(--tittle-sm-asap);
  }
}
